body{
    padding-bottom: 20px;
    font-size: 1rem;
}
#casing{
    margin-top: 4%;
}

#title{
    color: forestgreen;
    margin-bottom: 20px;

}
#casing{
    margin-left: 315px; 
    margin-bottom: 5%;
} 

#navbarNav{
    margin-left: 40%;
}