body{
    background-image: url("../image/Design-Background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;   
}
#navbarNav{
    margin-left: 25rem;
}

#form{
    margin-left: 2rem; 
    
 }

