*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#jumbotron{
    background-image: url("../image/Design-Background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.company-details ul{
    list-style-type: none;
    display: inline;
}
.buffer{
    margin-top: 20px;
    margin-left: 20px;
}
.category-buffer{
    margin-top: 20px;
    margin-left: 20px;
}
.fashion-buffer{
    margin-top: 20px;
    margin-left: 20px
}

/*style for sign in page*/
#signin-body{
    background-color: #f9f9fa;
}
#company-name {
    color: #0c25a0;
}
#navbarCollapse{
    color: #0c25a0;
    font-weight: bold;
}
#form-box{
    background-color: #ffffff;
    height: 500px;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    border-radius: 5px;
}
.signin-caption{
    text-align: center;
}
#form-heading{
    text-align: center;
    color: #0c25a0;
}
h2{
    font-style: italic;
    font-weight: bold;
    text-shadow: 
}

/* Style for registration form*/
#registration-form{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    border-radius: 5px;
}

/*Style for profile form*/

#profile-form{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    border-radius: 5px;
}

.avatar-image {
    width: 100%;
    max-width: 230px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-position: center;
}
.image-changer {
    background: #ffffff;
    color: #000000;
    border: 2px dashed #666;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    margin: 0 0 20px 0;
}
.image-changer .file-upload-button {
    vertical-align: top;
}
.avatar-area .button {
    overflow: hidden;
}
.file-upload-button {
    width: 100px;
}