body{
    background-image: url("../image/Design-Background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
} 
#cont{
    margin-top: 10%;
    margin-left: 35%;
}
h4{
    margin-left: 100px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: green;
}
h6{
    text-align: center;
    margin-top: 15px;
    color: white;
}
#createAcc{
    margin-left: 15px
}
#signIn{
    background-color: green;
}
#navbarNav{
    margin-left: 45%;
}
label{
    color: white;
}
