<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>
<body>
    <!-- navigation bar -->
 <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
    <a href="#" class="navbar-brand" id="company-name"> <h2> WEConnect </h2> </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a href="signin.html" class="nav-link">Log In</a>
                </li>
                <li class="navbar-item">
                    <a href="catalogs.html" class="nav-link">catalogs</a>
                </li>
            </ul>
        </div>
 </nav>

<!-- banner area -->
 <div class="container-fluid" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" id="jumbotron">
                <h3 class="display-4">WE Connect</h3>
                <p class="lead ">let's connect your business to the desired audience..</p>
                <a class="btn btn-primary btn-lg" href="signup.html" role="button">Sign up</a>
            </div>
        </div>
    </div>
    
    <div class="row"> 
        <div class="col-md-12">
            <h4>techs</h>
        </div>
    </div>
    <!-- featured work area -->
    <div class="buffer">
         <div class="row">
            
            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid " src="image/apple-logo.jpg" alt="company logo">
                    <div class="company-details">
                        <ul>
                        <!-- company details -->
                            <li><span class="facts">Company Name:</span> Apple Inc</li>
                            <li ><span class="facts">Address:</span>New York City</li>
                            <li ><span class="facts">Location:</span>USA</li>
                            <li ><span class="facts">Category:</span>Technology</li>
                            <li ><span class="facts">Website:</span> <a href="">www.apple.com</a> </li>
                        </ul>
                    </div>
                </div>                
            </div>

            
            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid " src="image/apple-logo.jpg" alt="company logo">
                    <div class="company-details">
                        <ul>
                            <li><span class="facts">Company Name:</span> Apple Inc</li>
                            <li ><span class="facts">Address:</span>New York City</li>
                            <li ><span class="facts">Location:</span>USA</li>
                            <li ><span class="facts">Category:</span>Technology</li>
                            <li ><span class="facts">Website:</span> <a href="">www.apple.com</a> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid " src="image/apple-logo.jpg" alt="company logo">
                    <div class="company-details">
                        <ul>
                            <li><span class="facts">Company Name:</span> Apple Inc</li>
                            <li ><span class="facts">Address:</span>New York City</li>
                            <li ><span class="facts">Location:</span>USA</li>
                            <li ><span class="facts">Category:</span>Technology</li>
                            <li ><span class="facts">Website:</span> <a href="">www.apple.com</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <div class="fashion-buffer">
        <div class="row"> 
            <div class="col-md-12">
                <h4>fashion</h>
            </div>
        </div>
    </div>

    <div class="buffer">
        <div class="row">

        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid " src="image/gucci.jpg" alt="company logo">
                <div class="company-details">
                    <ul>
                        <li><span class="facts">Company Name:</span> Gucci world collection</li>
                        <li ><span class="facts">Address:</span>Rome</li>
                        <li ><span class="facts">Location:</span>Italy</li>
                        <li ><span class="facts">Category:</span>Fashion</li>
                        <li ><span class="facts">Website:</span> <a href="">www.gucci.com</a> </li>
                    </ul>
                </div> 
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid " src="image/givenchi.jpg"  alt="company logo">
                <div class="company-details">
                    <ul>
                        <li><span class="facts">Company Name:</span> givenchi</li>
                        <li ><span class="facts">Address:</span>New York City</li>
                        <li ><span class="facts">Location:</span>USA</li>
                        <li ><span class="facts">Category:</span>Fashion</li>
                        <li ><span class="facts">Website:</span> <a href="">www.givenchy.com</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid " src="image/gucci.jpg" alt="company logo">
                <div class="company-details">
                    <ul>
                        <li><span class="facts">Company Name:</span>Zara</li>
                        <li ><span class="facts">Address:</span>Madrid</li>
                        <li ><span class="facts">Location:</span>Spain</li>
                        <li ><span class="facts">Category:</span>Fashion</li>
                        <li ><span class="facts">Website:</span> <a href="">www.zara.com</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="buffer more-business">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary btn-lg" href="catalogs.html" role="button">view more</a>
            </div>
        </div>
    </div>

    <div class="buffer footer">
        <div class="row">
            <div class="col-md-12 ">
                <footer>
                    
                </footer>
            </div>
        </div>
    </div>
    
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>